###############################################################################
###############################################################################
#
# COMMANDS
#
###############################################################################
###############################################################################

define command{
    command_name check_https
    command_line $USER1$/check_http -S -I $HOSTADDRESS$ $ARG1$
}

# check if string (i.e. $ARG1$) exists in $HOSTADDRESS$
define command{
    command_name check_http_string
    command_line $USER1$/check_http -H $HOSTADDRESS$ -s $ARG1$
}

