###############################################################################
###############################################################################
#
# SERVICE
#
###############################################################################
###############################################################################


############################################
# WEB
###########################################

define service{
        use                     generic-service-http
        host                    srv-intranet
        contact_groups          srv-intranet-contact
        }

define service{
        use                     generic-service-http_string
        host                    srv-intranet
        service_description     HTTP_STRING WordPress
        check_command           check_http_string!WordPress!/wordpress
        contact_groups          srv-intranet-contact
        }
        
############################################
# NETWORK
###########################################

define service{
        use                     generic-service-dns
        host                    srv-intranet
        contact_groups          srv-intranet-contact
        }


define service{
        use                     generic-service-ping
        host                    srv-intranet
        contact_groups          srv-intranet-contact
        }
        
define service{
        use                     generic-service-ssh
        host                    srv-intranet
        contact_groups          srv-intranet-contact
        }

